* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: #070320;
  min-height: 100vh;
}

.g-bg {
  background-color: #070320;
}

.font-poppins,
h6,
a {
  font-family: "Poppins", sans-serif;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}
.g-container {
  width: 100vw;
}
.g-container2 {
  width: 100vw;
  height: 50vh;
}
.g-container3 {
  width: 100vw;
  height: 25vh;
}
.g-text-orange {
  color: #e87d0e;
}
.g-btn {
  border-radius: 2.5rem;
  background: linear-gradient(92deg, #d80027 2.08%, #fb9e3c 117.25%);
}

.g-mt-10 {
  margin-top: 10rem;
}
.g-mt-5 {
  margin-top: 5rem;
}
.g-bg-img {
  background: url(/img/background.svg) no-repeat center center;
}
.g-top {
  top: 230px;
}
.g-fw-700 {
  font-weight: 700;
}
.g-fw-500 {
  font-weight: 500;
}
.g-fw-600 {
  font-weight: 600;
}
.g-img {
  width: 100%;
  height: auto;
}
.g-bg-img2 {
  background: url(/img/Rectangle\ 4.svg) no-repeat center center / cover;
  width: 100%;
  height: 500px;
}
.g-bg-img3 {
  background: url(/img/section5.svg) no-repeat center center / cover;
}
.g-box-icone {
  height: 60px;
  width: 60px;
  background-color: white;
}
.g-box {
  height: 270px;
  background-color: white;
}
.g-img4 {
  background: url(/img/Rectangle\ 15.svg) no-repeat center center / cover;
}
.g-img5 {
  background: url(/img/Rectangle\ 16.svg) no-repeat center center / cover;
}
.g-img6 {
  background: url(/img/Rectangle\ 17.svg) no-repeat center center / cover;
}
.g-img7 {
  background: url(/img/Rectangle\ 19.svg) no-repeat center center / cover;
}
.g-img8 {
  background: url(/img/Rectangle\ 18.svg) no-repeat center center / cover;
}
.g-img9 {
  background: url(/img/Rectangle\ 20.svg) no-repeat center center / cover;
}
.g-btn2 {
  background: rgba(255, 255, 255, 0.11);
  border: none;
  width: 100px;
}
.g-position {
  top: -30vh;
  right: -30vw;
}
#inputPassword2::placeholder {
  color: white;
}
.g-box-c {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 768px) {
  .g-position {
    display: none;
  }
}
